                <li class="whiskey row justify-content-center">
                    <div class="col-md-9">
                        <div class="card m-3">
                            <div class="card-header">
                                <span class="col-3 inv-head"><a href="/whiskey/{{id}}"><i class="fas fa-glass-whiskey"></i>  {{name}}</a></span>
                                <span class="col-1">{{vote_count}} {{format_plural "vote" vote_count}}</span>

                            </div>
                            <div class="card-body row">
                                <img id="whiskey-pic" class="rounded" src="/images/{{name}}.jpg" alt="{{name}}">
                                <div class="col-7">
                                    <p>Bottle Size: {{bottle_size}}</p>
                                    <p>Price Paid: ${{price_paid}}</p>
                                    <p>Resell Value: ${{resell_value}}</p>
                                    <p>Notes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


<script src="/javascript/upvote.js"></script>