                <li class="whiskey row justify-content-center m-3">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <span class="col-3 inv-head"><a href="/whiskey/{{id}}"><i class="fas fa-glass-whiskey"></i>  {{name}}</a></span>
                                <span class="col-1">{{vote_count}} {{format_plural "vote" vote_count}}</span>

                            </div>
                            <div class="card-body">
                                <img id="whiskey-pic" class="rounded" src="/images/{{name}}.jpg" alt="{{name}}">
                                <span class="col-3">Bottle Size: {{bottle_size}}</span>
                                <span class="col-3">Price Paid: ${{price_paid}}</span>
                                <span class="col-3">Resell Value: ${{resell_value}}</span>
                                <span class="col-3">Notes</span>
                            </div>
                        </div>
                    </div>
                </li>


<script src="/javascript/upvote.js"></script>